@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
    background-color: black;
    font-size: 1.6em;
}

#startBakgrunn {
    background-image: url("bilder/bakgrunn.jfif");
    height: 100vh;
    background-size: cover;
}

#startSpill,
#startKnapp {
    margin: auto;
    position: relative;
    top: 20%;
    width: 45vh;
    height: 25vh;
    background-color: whitesmoke;
    color: #333;
    text-align: center;
    border: 8px solid;
    border-radius: 20px;
    box-shadow: 0 1px 32px white;
    transform: rotate(0) scale(0);
    animation: boom 1s linear;
    animation-fill-mode: forwards;
    font-family: Poppins;
    font-size: 15px;
    cursor: pointer;
}

#startKnapp {
    display: none;
}

@keyframes boom {
    100% {
        transform: rotate(1080deg) scale(1);
    }
}

#startSpill div {
    height: 50%;
}

#startSpill h1 {
    position: absolute;
    width: 100%;
    color: #222;
    font-size: 30px;
    text-shadow: 0 1px 2px;
    animation: pulse 6s linear infinite;
}

@keyframes pulse {
    50% {
        transform: scale(1.1);
    }
}

#startSpill p {
    font-weight: bold;
}

#startSpill span {
    position: relative;
    font-size: 18px;
    animation: up 2s linear infinite;
    animation-delay: 3s;
}

@keyframes up {
    25% {
        top: -4px;
    }
}

#forhistorie {
    position: relative;
    top: 20vh;
    margin-left: 20%;
    margin-right: 20%;
    background: rgba(1, 1, 1, 0.5);
    border-radius: 30px;
    padding: 30px 30px 30px 30px;
}

#forhistorieBakgrunn {
    background-image: url(bilder/landskap.php);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#velgKar {
    font-size: 100px;
    text-align: center;
    text-shadow: 0 2px 0 limegreen, 0 1px 64px white;
    animation: pulse 1.5s linear infinite;
}



#startButton {
    position: absolute;
    left: 44%;
    bottom: 0;
    height: 40px;
    width: 10%;
    background-color: black;
    font-family: monospace;
    font-size: 13px;
    color: darkseagreen;
  
}
