body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    background-image: url(bakgrunn2.jpg);
    background-size: cover;
    background-repeat: repeat;
}

#rdReodor, #rdSolan, #rdLudvig {
    display: none;
}

input[type=radio]:checked + img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #B19CD9;
}

input[type=radio]:checked + img {
    transform: scale(1.1);
}
#redern{
    width: 300px;
    height: 350px;
}

#solern{
    width: 300px;
    height: 350px;
}

#luddern{
    width: 300px;
    height: 350px;
}

#redern:hover{
   opacity: 0.9;
}

#solern:hover{
   opacity: 0.9;
}

#luddern:hover{
   opacity: 0.9;
}

h3{
    text-align: center;
}

#valgt{
    height: 40px;
    width: 10%;
    background-color: burlywood;
    font-family: monospace;
    font-size: 13px;
}
#valgt:hover{
    background-color: chocolate;
}

